.brands-wrapper {
    background-color: #172243;
    /* padding: 0 2rem; */
    overflow: hidden; /* Hide the overflow to ensure only the visible part of the brands is shown */
  }
  
  .brands {
    padding: 4rem;
    margin: 0 4rem;
    background: #172243;
    overflow: hidden;
    position: relative; 
  }
  
  .brands h1 {
    color: white;
    text-align: center;
    font-size: medium;
    margin-bottom: 2rem;
    font-family: 'Marcellus';
    font-size: 1.15rem;
  }
  
  .brand-image {
    display: flex;
    gap: 3.5rem; /* Adjust the gap between the brand images */
    animation: slide 50s linear infinite; /* Slower scrolling effect */
    width: max-content; /* Make sure the container width is large enough to hold all images */
  }
  
  /* Keyframes for sliding the images horizontally */
  @keyframes slide {
    0% {
      transform: translateX(0); /* Start at the beginning */
    }
    100% {
      transform: translateX(-100%); /* Move left by 100% of the container width */
    }
  }
  
  /* Styles for each brand image */
  .brand-image img {
    width: 6rem;
    opacity: 0.3;
    filter: brightness(100%) contrast(100%) grayscale(100%) sepia(100%) saturate(0%);
    transition: opacity 0.3s ease, filter 0.3s ease; /* Smooth transition on hover */
  }
  
  @media only screen and (max-width: 480px) {
    .brands {
      padding: 1rem;
      padding-bottom: 2rem;
      margin: 1rem 0.1rem;
    }
    .brands h1 {
      margin-top: 0.7rem;
      margin-bottom: 1.5rem;
      font-size: 0.9rem;
    }
    .brand-image img {
      width: 4rem;
    }
    .brand-image {
      gap: 1.5rem; /* Adjust the gap for smaller screens */
    }
  }
  
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    .brands {
      padding: 2.5rem;
      padding-bottom: 2.8rem;
    }
    .brands h1 {
      font-size: 1rem;
    }
    .brand-image img {
      width: 6rem;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .brand-image {
      padding: 0 8rem;
    }
  }
  