* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.footer-container {
  justify-content: center;
  background-color: #172243;
}

.footer-row {
  display: grid; /* Use CSS Grid instead of Flexbox */
  grid-template-columns: 60% 20% 20%; /* Define three columns, with the first taking 50% width and others taking 25% each */
  gap: 2rem; /* Optional: adds space between the grid items */
  padding: 40px 100px;
  max-width: 1200px;
  margin: 0 auto;
}

.newsletter {
  width: 100%; /* Make the newsletter take up full width of its grid column */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem 6rem 1.5rem 0; 
  line-height: 1.5rem;
}

.newsletter h4 {
  color: white;
  font-size: 1.375rem;
  position: relative;
  text-align: start;
  margin-bottom: 1rem;
}

.newsletter h4::before {
  content: '';
  position: absolute;
  width: 70px;
  height: 2px; 
  bottom: -10px;
  background-color: #FF6100;
}

.newsletter p {
  color: white;
  opacity: 0.7;
  width: 100%;
}

.newsletter form {
  display: flex;
  gap: 0.625rem;
}

.input-email {
  border: none;
  border-radius: 5px;
  width: 70%;
  height: 2.8rem;
  padding-left: 20px;
  margin: 1rem 0;
}

.input-submit {
  border: none;
  border-radius: 5px;
  width: 30%;
  height: 2.8rem;
  padding: 0px 20px;
  margin: 1rem 0;
  background-color: #FF6100;
  color: white;
}

.quick-links h4,
.services h4 {
  color: white;
  margin-bottom: 25px;
  font-size: 1rem;
  position: relative;
  text-align: start;
}

.quick-links h4::before,
.services h4::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px; 
  bottom: -10px;
  background-color: #FF6100;
}

.newsletter p {
  font-size: 0.9rem;
  text-align: left;
  color: white;
}

.quick-links ul,
.services ul {
  list-style: none;
}

.quick-links ul li, 
.services ul li {
  padding: 10px 0;
  text-align: start;
}

.quick-links ul li a, 
.services ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 100;
  opacity: 0.7;
  transition: 0.5s;
}

.quick-links ul li a:hover, 
.services ul li a:hover {
  opacity: 1;
}

.row hr {
  opacity: 0.7;
}

.copyright {
  color: white;
  font-size: 0.8rem;
  font-weight: 100;
  padding: 1.5rem;
  text-align: center;
}

@media (max-width: 686px) {
  .footer-row {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 50px 50px;
    row-gap: 3.5rem;
    column-gap: 0;
    justify-content: center;
    justify-items: center;
    padding: 5rem 4rem 4rem 4rem;
  }

  .newsletter {
    grid-column: 1 / span 2;
    padding: 0;
  }

  .quick-links {
    grid-column: 1 / span 2;
  }

  .services {
    grid-column: 1 / span 2;
  }

  .newsletter p {
    font-size: 0.9rem;
  }

  .input-email {
    height: 2.3rem;
  }
  
  .input-submit {
    height: 2.3rem;
  }

  .quick-links,
  .services {
    align-items: center;
    width: 100%;
  }

  .quick-links ul,
  .services ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  }

  .quick-links h4,
  .services h4 {
    text-align: left;
    font-size: 0.9rem;
  }


  .quick-links ul li, 
  .services ul li {
    text-align: left;
    padding: 0.5rem;
  }

  .quick-links ul li a, 
  .services ul li a {
    font-size: 0.8rem;
  }

  .copyright {
    font-size: 0.8rem;
    padding: 1rem;
  }

}

@media (min-width: 687px) and (max-width: 937px) {
  .footer-row {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 50px;
    row-gap: 4rem;
    column-gap: 0;
    justify-content: center;
    justify-items: center;
    padding: 5rem 4rem 4rem 4rem
  }

 .newsletter {
    grid-column: 1 / span 2;
    padding: 0;
  }

  .newsletter p {
    font-size: 0.9rem;
  }

  .input-email {
    height: 2.3rem;
  }
  
  .input-submit {
    height: 2.3rem;
  }

  .quick-links,
  .services {
    align-items: center;
    width: 100%;
  }

  .quick-links ul,
  .services ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  }

  .quick-links h4,
  .services h4 {
    text-align: left;
    font-size: 0.9rem;
  }


  .quick-links ul li, 
  .services ul li {
    text-align: left;
    padding: 0.5rem;
  }

  .quick-links ul li a, 
  .services ul li a {
    font-size: 0.8rem;
  }

  .copyright {
    font-size: 0.8rem;
    padding: 1rem;
  }
}
