* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

contact {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    background-color: #E8EFF2; /* Soft background color */
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
    padding: 3rem 4rem;
    border-radius: 8px;
}

.contact-us h1 {
    font-family: 'Marcellus', sans-serif;
    text-align: center;
    margin: 2rem 0;
}

.contact-info {
    position: relative;
    background-color: #172243;
    color: white;
    font-size: 1rem;
    line-height: 1.6;
    padding: 3.125rem 5.3rem;
    border-radius: 5px 0 0 5px;
    width: 40%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.contact-info:hover {
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.15); /* Hover effect to give a sense of depth */
}

.contact-info h4 {
    position: relative;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 2.7rem;
    color: white;
}

.contact-info h4::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px; 
  bottom: -5px;
  background-color: #FF6100;
}

.contact-info .contact-icons li {
    margin-bottom: 1.2rem;
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.7;
}

.contact-info .contact-icons i {
    margin-right: 1rem;
    font-size: 20px;
}

.contact-info .contact-icons a {
    color: white;
}

.sci {
    display: flex;
    justify-content: center;
    margin-top: 3.5rem;
    list-style: none;
}

.sci li a i {
    color: #FF6100;
    font-size: 22px;
    transition: color 0.3s ease;
    padding: 0.8rem;
}

.sci li a:hover i {
    color: #3a8dff; /* Elegant hover effect on social icons */
}

.contact-form {
    background-color: white;
    padding: 3.125rem 2.5rem;
    width: 58%;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
    border-radius: 0 5px 5px 0;
    position: relative;
}

.contact-form h2 {
    font-size: 28px;
    font-weight: 700;
    color: #172243;
    margin-bottom: 25px;
}

.form-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-box {
    position: relative;
    width: 47%;
    margin-bottom: 25px;
    transition: all 0.3s ease;
}

.input-box.w100 {
    width: 100%;
}

.input-box input,
.input-box textarea {
    width: 100%;
    padding: 15px;
    font-family: 'Public Sans';
    font-size: 16px;
    color: #555;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.input-box input:focus,
.input-box textarea:focus {
    border-color: #3a8dff;
    background-color: #eaf2fe;
}

.input-box input::placeholder,
.input-box textarea::placeholder {
    color: #bbb;
}

.input-box span {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #888;
    font-size: 16px;
    transition: all 0.3s ease;
    pointer-events: none;
}

.input-box input:focus ~ span,
.input-box textarea:focus ~ span {
    top: 0;
    font-size: 12px;
    color: #3a8dff;
}

.input-box input[type='submit'] {
    background-color: #FF6100;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.input-box input[type='submit']:hover {
    background-color: #3578e5; /* Darker blue for submit button hover */
}

@media (max-width: 480px) {
    .contact-container {
        padding: 4rem 1.5rem;
    }

    .contact-info {
        padding: 2rem 3rem;
    }

    .contact-info h4 {
        font-size: 1.5rem;
        text-align: left;
        margin-bottom: 2rem;
    }

    .sci {
        justify-content: left;
        margin-top: 2rem;
    }

    .sci li a i {
        padding-left: 0;
    }

    .contact-form h2 {
        text-align: left;
        font-size: 1.5rem;
    }



}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }

    .contact-info {
        width: 100%;
        margin-bottom: 40px;
        border-radius: 8px;
    }

    .contact-form {
        width: 100%;
        border-radius: 8px;
    }

    .input-box.w50 {
        width: 100%;
    }

    .contact-info h4 {
        font-size: 22px;
    }
}


@media (min-width: 768px) and (max-width: 1280px) {
    /* .contact-container {
        flex-wrap: wrap-reverse;
    } */
}