.services-submenu {
  width: 7rem;
  position: absolute; 
  left: 0;            
  top: 40px;          
  text-align: start;
  border: 2px solid #121B36;
  border-radius: 5px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3), 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-color);
  display: none;    
  z-index: 100;   
}

.services-submenu.open {
  display: flex; 
}

.services-submenu li {
  background-color: var(--secondary-color);
  cursor: pointer;
  border-radius: 8px;
}

.submenu-item {
  display: flex;
  width: 80%;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.3rem;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
}

.submenu-item:hover {
  color: #FF6100;
  border-bottom: 1px solid #FF6100;
}
