.services-submenu {
    width: 9rem;
    position: absolute; 
    left: 0;            
    top: 40px;          
    text-align: start;
    border: 1px solid white;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9);
    /* transition: ; */
    display: none;    
    z-index: 0;   
  }

  .dark .services-submenu {
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--text-color);
    transition: var(--transition);
    border: 1px solid black;
  }

  .dark-nav .services-submenu {
    color: white;
    background: #172243;
    border: 1px solid #0C1226;
  }

  .services-submenu.open {
    display: flex; 
  }

  .dark .services-submenu.open {
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--text-color);
    transition: var(--transition);
  }

  .dark-nav .services-submenu.open {
    color: white;
    background: #172243;
  }

  .services-submenu li {
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    border-radius: 8px;
  }

  .dark .services-submenu li {
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--text-color);
    transition: var(--transition);
  }

  .dark-nav .services-submenu li {
    background-color: #172243;
    cursor: pointer;
  }
  
  /* Styling for each item */
  .submenu-item {
    display: flex;
    width: 100%;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.3s ease;
  }

  .dark-nav .submenu-item {
    color: white;
  }
  
  .submenu-item:hover {
    color: #FF6100;
    border-bottom: 2px solid #FF6100;
  }
  