.navbar-container {
  padding: 1rem 2rem;
  box-sizing: border-box;
  max-width: 1500px;
  background-color: transparent;
  position: fixed;
  border-radius: 5px;
  top: 0;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.dark-nav .navbar-container {
  background-color: var(--secondary-color);
  color: white;
  z-index: 1000;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3), 0 4px 12px rgba(0, 0, 0, 0.1);
}
  
.navbar-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 2.8rem;
  border-radius: 5px;
  margin-top: 0.4rem;
}

.logo h1 {
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: 'Marcellus';
  margin: 0.35rem 0 0 0.5rem;
}
  
.desktop-view {
    display: flex;  
    align-items: center;   
  }
  
.nav-links {
    display: flex;
    align-items: center;
    margin-left: 4rem;
  }
  
.nav-links li {
    padding: 10px;
    cursor: pointer;
    list-style-type: none;
    margin: 0 0.1rem;
  }

.nav-item {
  margin-right: 2rem;
}
  
.nav-link {
    position: relative;
    font-size: 1.1rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .nav-link svg {
    margin-left: 5px;
    font-size: 0.8em;
  }

.desktop-view .dropdown-menu:hover {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
  }
  
.desktop-view button {
    background-color: var(--primary-color);
    color: white;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: 10px 18px;
    margin: 16px 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.75rem;
  }

.desktop-view button i {
    margin-right: 5px;
}

.desktop-view .darkmode-desktop {
    color: white;
    margin: 4px 0 0 10px;
}

.mobile-view {
    display: flex;
    align-items: center;
}

.mobile-view .darkmode-mobile {
  color: white;
  width: 1.5rem;
  margin-top: 0.2rem;
}

.mobile-view button {
  background-color: #FF6100;
  color: white;
  border: 2px solid #FF6100;
  border-radius: 5px;
  padding: 7px 13px;
  margin: 1px 0 1px 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.7rem;
}

.mobile-view button i {
  margin-right: 5px;
}

.mobile-view .himenualt1 {
    color: white;
    font-size: 30px;
    cursor: pointer;
    margin-left: 0.8rem;
    margin-top: 0.35rem;
  }

.mobile-view .himenualt3 {
    color: white;
    font-size: 30px;
    cursor: pointer;
    margin-left: 0.8rem;
    margin-top: 0.35rem;
  }


@media only screen and (max-width: 767px) {
    .navbar-container {
      width: 100%;
      margin-top: 1rem;
      padding: 0.3rem 1rem;
      border-radius: 0;
      top: 0;
    }

    .logo img {
      width: 2.8rem;
      margin: 0.6rem 0 0.4rem 0;
    }

    .logo h1 {
      font-size: 1.2rem;
      margin-left: 0.3rem;
      margin-bottom: 0.1rem;
    }

    .desktop-view {
      display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
    .navbar-container {
      width: 100%;
      padding: 0 1rem;
      border-radius: 0;
      top: 0;
    }
    .mobile-view {
      display: none;
    }
}

@media only screen and (min-width: 1280px) {
    .navbar-container {
      width: 100%;
      padding: 0 1rem;
      border-radius: 5px;
      left: 50%;
      transform: translateX(-50%);
    }
    .mobile-view {
      display: none;
    }
}
  
  
  