.testimonials-section {
    background-color: var(--secondary-color);
  }
  
  .testimonials-container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 6rem 2rem;
  }
  
  .testimonial-section {
    text-align: center;
    padding: 0 4rem;
  }
  
  .testimonial-card {
    background-color: var(--secondary-color);
    color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeIn 1s forwards;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-areas:
        'text'
        'image';
    /* gap: 2rem; */
    align-items: center;
    /* justify-content: left; */
  }
  
  .testimonial-card img {
    width: 75%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
  }

  .testimonial-info {
    text-align: left;
    width: 100%;
    padding-top: 3rem;
  }
  
  .testimonial-info h1 {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Marcellus', sans-serif;
    margin-bottom: 1.5rem;
  }
  
  .testimonial-info p {
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.5;
    color: #6B7280;
  }
  
  .testimonial-info h2 {
    font-size: 1.25rem;
    font-weight: 700;
    font-family: 'Marcellus', sans-serif;
    margin-top: 1rem;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .slick-dots {
    bottom: -30px;
  }
  
  .slick-dots li button:before {
    font-size: 14px;
    color: white;
    opacity: 0.5;
  }
  
  .slick-dots li.slick-active button:before {
    color: #4CAF50; /* Green for active dot */
    opacity: 1;
  }
  
  /* For medium and larger screens */
  @media (max-width: 767px) {
    .testimonial-card img {
      width: 200px;
      height: 290px;
      grid-area: image;
      justify-content: center;
    }
  
    .testimonial-info {
      grid-area: text;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    .testimonial-card {
        grid-template-columns: 1fr 1fr;
        align-items: stretch;
    }
  }
  
  @media (min-width: 1280px) {
    .testimonial-card {
        grid-template-columns: 40% 60%;
        align-items: stretch;
    }
    .testimonial-info p {
      font-size: 1.1rem; /* Slightly increase the font size on larger screens */
    }
  }
  