accordion
  
.accordion-btn, 
.accordion-btn__submenu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.accordion-btn i, 
.accordion-btn__submenu i {
  font-size: 1.5rem;
  color: var(--blue-crayola);
  transition: var(--transition-1);
}

.accordion-card.expanded .accordion-btn i, 
.accordion-card__submenu.expanded .accordion-btn__submenu i {
  transform: rotate(0.5turn);
}

.accordion-btn .span,
.accordion-btn__submenu .span { transition: var(--transition-1); }

.accordion-btn:is(:hover, :focus-visible) .span,
.accordion-card.expanded .accordion-btn .span { color: var(--violet-blue-crayola); }

.accordion-content,
.accordion-content__submenu {
  padding-inline-start: 24px;
  max-height: 0;
  overflow: hidden;
}

.accordion-card.expanded .accordion-content,
.accordion-card__submenu.expanded .accordion-content__submenu {
  max-height: max-content;
  padding-block-end: 20px;
}

.accordion-card {
  transition: var(--transition-1);
}

.accordion-card:hover {
  cursor: pointer;
}