.header-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--secondary-color);
  z-index: 5000;
}

.header-section.active {
  background-color: var(--white-color);
  box-shadow: var(--box-shadow-1);
  color: var(--black-color);
}

.nav-container {
  height: 5.5rem;
  max-width: var( --container-max-width);
  margin: 0 auto;
  padding: var(--container-padding-lg);
  z-index: 5000;
}

.nav-items {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: inline-flex;
  
  align-items: center;
  column-gap: .25rem;
  font-family: var(--secondary-font);
  font-weight: 500;
  color: var(--white-color);
}

.nav-logo.active {
  color: var(--black-color);
}

.nav-logo img {
  width: 40px;
  border-radius: var(--border-radius-1);
}

.nav-logo span {
  /* margin-top: 0.8rem; */
  margin-left: 0.3rem
}

.header-section-sm.active {
  color: var(--black-color);
}

.nav-burger.active {
  color: var(--black-color);
}

.dropdown-item {
  cursor: pointer;
}
  
.accordion-card.expanded .accordion-content,
.accordion-card-submenu.expanded .accordion-content-submenu {
  max-height: max-content;
  padding-block-end: 20px;
}

.accordion-card {
  transition: var(--transition-1);
}

.accordion-card:hover {
  cursor: pointer;
}
.accordion-btn, 
.accordion-btn-submenu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.accordion-btn i, 
.accordion-btn-submenu i {
  font-size: 1.5rem;
  color: var(--blue-crayola);
  transition: var(--transition-1);
}

.accordion-card.expanded .accordion-btn .dropdown-arrow, 
.accordion-card-submenu.expanded .accordion-btn-submenu .dropdown-arrow {
  transform: rotate(0.5turn);
}

.dropdown-arrow {
  position: absolute;
  right: 0%;
}

.accordion-btn .span,
.accordion-btn-submenu .span { transition: var(--transition-1); }

.accordion-btn:is(:hover, :focus-visible) .span,
.accordion-card.expanded .accordion-btn .span { color: var(--violet-blue-crayola); }

.accordion-content,
.accordion-content-submenu {
  padding-inline-start: 24px;
  max-height: 0;
  overflow: hidden;
}

.dropdown-link, 
.dropdown-sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--white-color);
  /* background-color: color-mix(in srgb, var(--secondary-color) 95%, white 5%); */
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: 500;
  transition: background-color .3s;
}

.dropdown-link i,
.dropdown-sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown-link:hover, 
.dropdown-sublink:hover {
  background-color: var(--secondary-color);
}

.dropdown-menu, 
.dropdown-submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-out;
}

.dropdown-add {
  margin-left: auto;
}

.login-btn:hover{
  background-color: transparent;
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.login-btn.active:hover{
  background-color: transparent;
  color: var(--primary-color);
  border-color: var(--primary-color);
}

@media (max-width: 767px) {
  .nav-container {
    height: 4rem;
  }
  
  .nav-toggle-overlay {
    height: 4rem;
  }
}

@media (min-width: 768px) and (max-width: 1049px) {
  .nav-toggle-overlay{
    height: 5.5rem;
  }
}

@media (max-width: 1050px) {
  .nav-container {
    padding-inline: var(--container-padding-sm);
  }

  .nav-logo img {
    width: 35px;
  }
  .nav-logo span {
    font-size: var(--h1-sm);
  }

  .header-section-sm {
    color: var(--white-color);
    display: flex;
    align-items: center;
  }

  .header-darkmode-sm {
    width: max-content;
    height: max-content;
    font-size: 1.25rem;
  }
  
  .header-pipe {
    margin-inline: 1rem;
  }
  
  .header-section-sm h1 {
    font-size: var(--h2-sm);
    font-weight: 600;
  }

  .nav-burger {
    margin-left: 0.4rem;
  }

  .nav-toggle-overlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    padding-inline: var(--container-padding-sm);
  }

  .nav-logo-overlay {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    font-family: var(--secondary-font);
    font-weight: 500;
    color: var(--white-color);
  }
  .nav-logo-overlay img {
    width: 35px;
    border-radius: var(--border-radius-1);
  }

  .nav-logo-overlay span {
    font-size: var(--h1-sm);
    /* margin-top: 0.8rem; */
    margin-left: 0.3rem
  }
  .nav-close {
    opacity: 0;
    border-radius: var(--border-radius-1);
    margin-top: 0.2rem;
  }
  
  .nav-burger,
  .nav-close {
    color: var(--white-color);
    width: max-content;
    height: max-content;
    inset: 0;
    font-size: 1.7rem;
    cursor: pointer;
    transition: opacity .1s, transform .4s;
  }

  .nav-close-section {
    display: flex;
    align-items: center;
    color: var(--white-color);
    
  }

  .nav-close-section h1 {
    font-size: var(--h2-sm);
    font-weight: 600;
    margin-right: 0.4rem;
  }


  .nav-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--secondary-color);
    height: 100vh;
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
  }

  .nav-menu::-webkit-scrollbar{
    width: 0;
  }

  .show-menu {
    padding-inline: 1rem;
    padding-block: 1.5rem;
    opacity: 1;
    top: 0;
    pointer-events: initial;
  }

  .show-icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .show-icon .nav-burger {
    opacity: 0;
    /* transform: rotate(90deg); */
  }

  .show-icon .nav-close {
    opacity: 1;
    /* transform: rotate(90deg); */
  }

  .nav-list {
    background-color: var(--secondary-color);
    padding-top: 6rem;
  }
  
  .nav-link {
    color: var(--white-color);
    background-color: var(--secondary-color);
    font-weight: 500;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color .3s;
  }

  .nav-link, 
  .dropdown-link,
  .dropdown-sublink {
    border-bottom: 1px solid rgba(75, 82, 131, 0.2);
    font-size: var(--h2-sm);
    padding-block: 1rem;
  }
  
  .dropdown-arrow {
    font-size: 1.25rem;
    font-weight: initial;
    /* transition: transform .4s; */
  }

  .nav-btn {
    display: flex;
  }

  .signup-btn {
    position: relative;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: 0.125rem solid var(--primary-color);
    display: flex;
    align-items: center;
    font-size: var(--p-sm);
    font-weight: 600;
    padding-inline: 1rem;
    padding-block: 0.6rem;
    border-radius: var(--border-radius-1);
    margin-left: 1rem;
    margin-block: 3rem;
  }

  .login-btn {
    position: relative;
    color: var(--white-color);
    background-color: transparent;
    border: 0.125rem solid var(--white-color);
    display: flex;
    align-items: center;
    font-size: var(--p-sm);
    font-weight: 600;
    padding-inline: 1rem;
    padding-block: 0.475rem;
    border-radius: var(--border-radius-1);
    margin-inline: 1rem;
    margin-block: 3rem;
  }

  .nav-btn-md {
    display: none;
  }

  .nav-darkmode-lg {
    display: none;
  }
}

@media (min-width: 767px) and (max-width: 1050px) {
  .nav-btn-md {
    display: flex;
    margin-right: 1.5rem;
  }
  .signup-btn {
    position: relative;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: 0.125rem solid var(--primary-color);
    display: flex;
    align-items: center;
    font-size: var(--p-sm);
    font-weight: 600;
    padding-inline: 1rem;
    padding-block: 0.6rem;
    border-radius: var(--border-radius-1);
    margin-left: 1rem;
    margin-block: 3rem;
  }

  .login-btn {
    position: relative;
    color: var(--white-color);
    background-color: transparent;
    border: 0.125rem solid var(--white-color);
    display: flex;
    align-items: center;
    font-size: var(--p-sm);
    font-weight: 600;
    padding-inline: 1rem;
    padding-block: 0.475rem;
    border-radius: var(--border-radius-1);
    margin-inline: 1rem;
    margin-block: 3rem;
  } 

  .login-btn.active {
    background-color: transparent;
    color: var(--secondary-color);
    border-color: var(--secondary-color);
  }
  
  .login-btn.active:hover{
    background-color: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
  }


  .nav-btn {
    display: none;
  }
}

@media (min-width: 1051px) {
  .header-darkmode-sm,
  .header-pipe, 
  .header-sm h1,
  .nav-toggle, 
  .header-section-sm {
    display: none;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .nav-logo-overlay,
  .nav-close-section h1, 
  .nav-close {
    display: none;
  }

  .nav-list {
    height: 100%;
    display: flex;
    column-gap: 2rem;
    margin-right: 1rem;
    align-items: center;
  }

  .nav-link {
    color: var(--white-color);
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: initial;
    column-gap: .25rem;
    font-size: var(--h5-lg);
  }

  .nav-link:hover {
    background-color: transparent;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 5px;
    transition: var(--transition-1);
    z-index: 1000;
  }

  .nav-link.active {
    color: var(--black-color);
  }

  .dropdown-item, 
  .dropdown-subitem {
    position: relative;
   
  }

  .dropdown-arrow {
    display: none;
  }

  .dropdown-menu,
  .dropdown-submenu {
  display: block;
  position: absolute;
  min-width: 300px;
  padding: 0.5rem;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius-1);
  left: 0;
  top: 3rem;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(-10px);
}

  .dropdown-menu {
    z-index: 1;
  }

  .dropdown-submenu {
    border-radius: 0 5px 5px 5px;
    z-index: 1001;
  }

  .dropdown-link, 
  .dropdown-sublink {
    font-size: var(--h5-lg);
    padding-inline: 1rem 3.5rem;
    border-bottom: 1px solid rgba(75, 82, 131, 0.2);
  }

  .dropdown-subitem .dropdown-link{
    padding-inline: 1rem; 
  }

  .dropdown-submenu{
    position: absolute;
    left: 100%;
    top: .5rem;
  }

  .dropdown-item:hover .dropdown-menu {
    opacity: 1; 
    top: 2rem;
    transition: top .3s;
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .dropdown-subitem:hover > .dropdown-submenu {
    opacity: 1;
    top: 0;
    transition: top .3s;
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto; 
  } 

  .nav-btn {
    display: flex;
  }

  .signup-btn {
    position: relative;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: 0.125rem solid var(--primary-color);
    display: flex;
    align-items: center;
    font-size: var(--p-sm);
    font-weight: 600;
    padding-inline: 1rem;
    padding-block: 0.6rem;
    border-radius: var(--border-radius-1);
    margin-left: 1rem;
    margin-right: 0.5rem;
  }

  .login-btn {
    position: relative;
    color: var(--white-color);
    background-color: transparent;
    border: 0.125rem solid var(--white-color);
    display: flex;
    align-items: center;
    font-size: var(--p-sm);
    font-weight: 600;
    padding-inline: 1rem;
    padding-block: 0.475rem;
    border-radius: var(--border-radius-1);
    /* margin-right: 1rem; */
    margin-left: 0.5rem;
  }

  .login-btn.active {
    background-color: transparent;
    color: var(--secondary-color);
    border-color: var(--secondary-color);
  }

  .nav-btn-md {
    display: none;
  }

  .nav-darkmode-lg {
    color: var(--white-color);
    margin-left: 0.5rem;
  }

  .nav-darkmode-lg.active {
    color: var(--black-color);
    margin-left: 0.5rem;
  }
  
}