:root {

  /* color */
  --primary-color: #FF6100;
  --secondary-color: #172243;
  --tertiary-color: ;
  --white-color: white;
  --black-color: black;

  /* typography */
  --primary-font: "Public Sans", sans-serif;
  --secondary-font: "Marcellus";
  --tertiary-font: "";

  --h1-sm: 1.5rem;
  --h2-sm: 1.125rem;
  --h3-sm: 1.125rem;
  --p-sm: 1rem;

  --h1-md: 2.125rem;
  --h2-md: 1.5rem;
  --h3-md: 1.25rem;
  --h4-md: 1.125rem;
  --h5-md: 1rem;
  --p-md: 1rem;

  --h1-lg: 2.125rem;
  --h2-lg: 1.875rem;
  --h3-lg: 1.5rem;
  --h4-lg: 1.25rem;
  --h5-lg: 1.125rem;
  --h6-lg: 1rem;
  --p-lg: 1rem;

  /* section */

  /* container */
  --container-max-width: 1400px;

  --container-margin-sm: 1.5rem;
  --container-margin-md: ;
  --container-margin-lg: ;

  --container-padding-sm: 1rem;
  --container-padding-md: 1.5rem;
  --container-padding-lg: ;

  /* box shadow */
  --box-shadow-1: 0 10px 40px hsla(216, 14%, 14%, 0.6);
 
  /* transition */
  --transition-1: 0.25s ease;
  --transition-3: 0.3s ease-in-out;

  /* border radius */
  --border-radius-1: 5px;
}

/* reset */
ul { 
  list-style: none; 
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin: 0 auto;

  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-style: normal;

  scroll-behavior: smooth;
}
  
.dark html {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: var(--transition-1);
}

body {
  background-color: white;
  color: var(--black-coral);
  font-size: 1.6rem;
  line-height: 1.7;
}

.dark body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: var(--transition);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: white;
}

.dark ::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color); 
  border-radius: 10px;
  border: 3px solid var(--secondary-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color); 
}

/* reused style */
.btn-primary {
  color: white;
  background-color: var(--primary-color);
  border-radius: var(--border-radius-1);
  transition: var(--transition-1)
}

.section-title {
  color: black;
  font-family: var(--secondary-font);
}

.section-subtitle {
  color: var(--secondary-color);
  font-family: var(--primary-font);
}








