.carousel-container {
    position: relative;
    top: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }

.carousel-slide {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out; /* Smooth slide animation */
}

.carousel-image {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
  }

.carousel-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(10, 15, 30, 0.4);
    z-index: 1; 
}
  
.carousel-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
  }
  
.carousel-caption {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%); 
    text-align: left;
    color: white;
    background: linear-gradient(to right, rgba(10, 15, 30, 0.4) 60%, rgba(255, 255, 255, 0.3) 100%); /* Fading effect on the right */
    padding: 2rem;
    border-left: 2px solid var(--primary-color);
    border-radius: 5px;
    width: 500px;
    height: 250px;
    max-width: 600px;
    font-family: 'Marcellus', sans-serif;
    line-height: 1.4;
    z-index: 2;
}

.carousel-caption h1 span {
    font-size: 2rem;
  }

.carousel-caption p { 
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

/* .dark .carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--text-color);
    transition: var(--transition);
  } */

.carousel-caption button {
    color: var(--secondary-color);
    background-color: white;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1.1px;
    display: inline-flex;
    align-items: center;
    position: absolute;
    bottom: 11%;
  }

.carousel-caption button .fa-arrow {
    color: var(--secondary-color);
    margin-left: 0.5rem;
  }

/* .carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 1;
  } */
  
/* .carousel-control-prev,
  .carousel-control-next {
    display: none;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    border: none;
    font-size: 2rem; 
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  } */
  
/* .carousel-control-prev:hover,
  .carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
  } */
  

/* .carousel-control-prev {
    left: 10px; 
  } */
  
/* .carousel-control-next {
    right: 10px;
  } */

.carousel-caption span {
  font-family: 'Nunito';
  font-size: 2rem;
  font-weight: 500;
}

.g-one {
    color: #4285F4;
  } 

.o-one {
    color: #EA4335;
  }

.o-two {
    color: #FBBC03;
  }

.g-two {
    color: #4285F4;
  }

.l {
    color: #35A853;
  }

.e {
    color: #EA4335;
  }

.for-education {
    color: #BFBFBF;
    font-weight: 400;
  }

  /* Base styles for each letter */
.carousel-container span {
  opacity: 0;  /* Start with letters invisible */
  transform: translateY(20px);  /* Start from below */
  animation-duration: 5s;  /* Slower animation duration */
  animation-timing-function: ease-out;
  animation-iteration-count: infinite; /* Make the animation repeat indefinitely */
  animation-direction: alternate;  /* Reverse the animation to go up and down */
}

/* Animation for each letter */
.g-one, .o-one, .o-two, .g-two, .l, .e, .for-education {
  animation-name: fadeInUp;
}

/* Keyframes for the animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);  /* Start below the normal position */
  }
  50% {
    opacity: 1;
    transform: translateY(0);  /* Reach normal position halfway */
  }
  100% {
    opacity: 0;
    transform: translateY(20px);  /* Return below the normal position */
  }
}

/* Stagger animations by using different animation delays */
.g-one {
  animation-delay: 0.2s;  /* Longer delay for smoother effect */
}

.o-one {
  animation-delay: 0.4s;
}

.o-two {
  animation-delay: 0.6s;
}

.g-two {
  animation-delay: 0.8s;
}

.l {
  animation-delay: 1s;
}

.e {
  animation-delay: 1.2s;
}

.for-education {
  animation-delay: 1.4s;
}

  @media only screen and (max-width: 500px) {
      .carousel-container {
        height: 100%;
      }

      .carousel-image-mobile::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(10, 15, 30, 0.4);
        z-index: 1; 
      }
    
    .carousel-image-mobile {
      position: relative;
      width: 100%;
      height: 100%; 
      display: flex;
      justify-content: center;
      align-items: center;
      transition: opacity 0.5s ease-in-out;
    }
    
    .carousel-image-mobile img {
      width: 100%;
      height: 100%; 
      display: block;
      object-fit: contain;
      object-position: center center;

    }

    .carousel-image img {
      display: none;
    }
      
    .carousel-caption {
      width: 75%; 
      height: 200px;
      padding: 1.5rem;
      padding-top: 1.4rem;
      bottom: 25%;
    }

    .carousel-caption h1 span {
      font-size: 1.5rem;
    }

    .carousel-caption p { 
      font-size: 1.3rem;
    }

    .carousel-caption span {
      font-family: 'Nunito';
      font-size: 1.3rem;
      font-weight: 500;
    }

    .g-one {
      color: #4285F4;
    } 
    
    .o-one {
      color: #EA4335;
    }
    
    .o-two {
      color: #FBBC03;
    }
    
    .g-two {
      color: #4285F4;
    }
    
    .l {
      color: #35A853;
    }
    
    .e {
      color: #EA4335;
    }
    
    .for-education {
      color: #bfbfbf;
      font-weight: 400;
    }

    .carousel-caption button {
      font-size: 0.75rem;
      font-weight: 500;
      letter-spacing: 1px;
      border-radius: 5px;
      padding: 6px 11px;
    }
  }
    
  @media only screen and (min-width: 501px) and (max-width: 767px) {  
    .carousel-container {
      height: 500px;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    .carousel-image-mobile img {
      display: none;
    } 
  }

  @media only screen and (min-width: 1280px) {
    .carousel-container {
      height: 720px;
    }

    .carousel-image-mobile img {
      display: none;
    }
  }
  