.services-section {
  background-color: white;
}

.services-container {
  padding: 7rem 1rem 0 1rem;
  margin-left: auto;
  margin-right: auto;
}

.services-container h2, 
.services-container p {
  text-align: center;
}

.services-container h2, 
.services-container p > * {
  margin-bottom: 1.25rem;  /* adds space between child elements */
}

.services-container h2, 
.services-container p > *:last-child {
  margin-bottom: 0;  /* removes the extra margin from the last child */
}

.service-category {
  padding: 3rem 0 3rem 0;
  margin-left: auto;
  margin-right: auto;
}

.tab-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #FF6100;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  background-color: white;
  display: inline-block;
  /* border: 1px solid transparent; */
  /* border-bottom: none; */
  /* bottom: -1px; */
  position: relative;
  list-style: none;
  padding: 14px 24px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #fff;
  border: 1px solid #FF6100 !important;
  color: black;
  border-radius: 5px;
  outline: none;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

@media only screen and (min-width: 768px) {
  .service-category {
    width: 80%;
  }
  .tab-list {
    gap: 2rem;
  }
}