.services-section {
  background-color: #E8EFF2;
  display: flex;
  justify-content: center;
}

.dark .services-section {
  background-color: rgb(5, 5, 5);
  color: var(--text-color);
  transition: var(--transition);
}

.services-container {
  width: 100%;
  max-width: 1500px;
  padding: 4rem 2rem;
}

.services-info {
  text-align: left;
  padding: 0 4rem;
}

.services-info > * + * {
  margin-bottom: 1.25rem; 
}

.services-info h1 {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Marcellus', sans-serif;
  margin-bottom: 1.5rem;
}

.services-info p {
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.service-category {
  padding: 0.5rem 0 3rem 0;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.tab-list {
  margin: 0 4rem 1.3rem 5rem;
  color: #636b7a;
}

.dark .tab-list {
  color: white;
}

.tab-list .tab-one, .tab-two, .tab-three {
  border: 2px solid #FF6100;
  border-radius: 5px;
  margin: 1rem;
  list-style: none;
  padding: 14px 24px;
  cursor: pointer;
  display: inline-block;
}

.tab-list .tab-one:hover, .tab-two:hover, .tab-three:hover {
  background-color: #FF6100; /* Change background on hover */
  border-color: #FF6100;     /* Change border color on hover */
  color: white;              /* Change text color on hover */
}

.tab-list .tab-one:active, .tab-two:active, .tab-three:active {
  background-color: #FF6100; /* Change background on active click */
  border-color: #FF6100;     /* Change border color on active click */
  color: white;              /* Change text color on active click */
  transform: scale(0.98);      /* Optional: Slightly reduce the size on active click */
}

.react-tabs__tab--selected {
  background:#FF6100;
  color: white;
}

.service-tab {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 2rem;
  margin: 0 auto;
  max-width: 1500px;
  width: 90%;
  border: 2px solid #FF6100;
  border-radius: 5px;
  padding: 1rem;
}

.service-image {
  border-radius: 5px 0 0 5px !important;
}

.service-info {
  background-color: #E8EFF2;
  border-radius: 5px;
  padding: 2rem; 
  text-align: left;
}

.dark .service-info {
  background-color: rgb(5, 5, 5);
}

.dark .service-image {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: var(--transition);
}

.service-info h2 {
  font-size: 1.875rem;
  font-weight: 700;
  color:#172243;
  position: relative;
}

.service-info h2::before {
  content: '';
  position: absolute;
  width: 70px;
  height: 2px; 
  bottom: -9px;
  background-color: #FF6100;
}

.dark .service-info h2 {
  color: white;
}

.service-info p {
  font-size: 1.05rem;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.4rem;
}

.dark .service-info p{
  color:#ececec
}

.service-info h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color:#172243;
  margin-top: 0.5rem;
}

.dark .service-info h3 {
  color: white
}

.service-list {
  margin-top: 0;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.3rem;
}

.service-link {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 200;
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 0.5rem;
}

.service-tab .fa-arrow {
  font-size: 1.4rem;
  margin-left: 0.5rem;
  border: 4px solid var(--secondary-color);
  border-radius: 50%;
  background-color: var(--secondary-color);
  color: #E8EFF2;
  /* padding: 0.5rem; */
}

.service-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}


@media only screen and (max-width: 767px) {
  .services-info {
    padding: 0;
  }

  .services-info h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .services-info p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-left: 1.2rem;
  }

  .tab-list {
    display: inline-block;
    margin: 0 0 1.2rem 0;
    padding-left: 0.5rem;
  }

  .tab-list .tab-one, .tab-two, .tab-three {
    margin: 0.5rem;
  }

  .service-category {
    padding-bottom: 0;
  }

  .service-tab {
    gap: 0.85rem;
    width: 100%;
  }

  .service-info {
    padding: 1rem 0.5rem 0.5rem;
  }

  .service-info h2 {
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 2rem;
  }
  
  .service-info h2::before {
    width: 50px;
  }

  .service-info p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.4rem;
    margin-bottom: 1.5rem;
  }
  
  .service-info h3 {
    display: none;
  }
  
  .service-list {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .tab-list .tab-one, .tab-two, .tab-three {
    margin: 0.5rem;
  }
  .service-tab {
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
  }
  .service-info, .sevice-image {
    display: flex;
    flex-direction: column;
  }
  .service-info h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .service-info p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  .service-info h3 {
    font-size: 1.25rem;
  }

  .service-info h3 {
    display: none;
  }

  .service-list {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  .service-tab {
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
  }

  .service-info, .sevice-image {
    display: flex;
    flex-direction: column;
  }

  .service-info h2 {
    margin-bottom: 2rem;
  }

  .service-info p {
    font-size: 1rem;
  }

  .service-info h3 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .service-list {
    margin-bottom: 1.5rem;
  }

  
}